*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ebeaea;
    font-family: sans-serif;
    outline: none;
  }
  .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .calculator{
    background-color: #f3f2ec;
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px white,
                      5px 5px 12px rgba(0, 0, 0, .16);
    display: grid;
    grid-template-columns: repeat(4, 50px);
  }
  input{
    grid-column: span 4;
    height: 70px;
    width: 230px;
    background-color: #eeeeec;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0, 0, 0, .16);
    border:none;
    border-radius: 30px;
    color: rgb(73, 73, 73);
    font-size: 30px;
    text-align: end;
    margin: auto;
    margin-top: 30px;
    margin-left: -10px;
    margin-bottom: 15px;
    padding: 20px; 
  }
  button{
    height: 48px;
    width: 48px;
    background-color: #eeeeec;
    box-shadow: -5px -5px 12px #fcfcfc,
                5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    color: #434444;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
  }
  .equal{
    width: 100px;
    border-radius: 40px;
    background-color: #eeeeec;
    box-shadow: -5px -5px 12px #ffffff,
                    5px 5px 12px rgba(0, 0, 0, .16);               
  }

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
